<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика отзывов S7</title>
</head>
<body>
    <h1>Статистика отзывов S7</h1>
    <div>
        <h2>Распределение отзывов по категориям</h2>
        {{ bar_chart|safe }}
    </div>
    <div>
        <h2>Распределение отзывов по категориям</h2>
        {{ pie_chart|safe }}
    </div>
    <div>
        <h2>Heatmap отзывов по категориям</h2>
        {{ heatmap_chart|safe }}
    </div>
</body>
</html>